<a href="https://colab.research.google.com/github/blottb7/insurance_challenge/blob/initial_model/Initial_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div style="text-align: center">
  <img alt="AIcrowd" src="https://gitlab.aicrowd.com/jyotish/pricing-game-notebook-scripts/raw/master/pricing-game-banner.png">
</div>

# How to use this notebook üìù

1. **Copy the notebook**. This is a shared template and any edits you make here will not be saved. _You should copy it into your own drive folder._ For this, click the "File" menu (top-left), then "Save a Copy in Drive". You can edit your copy however you like.
2. **Link it to your AICrowd account**. In order to submit your code to AICrowd, you need to provide your account's API key (see [_"Configure static variables"_](#static-var) for details).
3. **Stick to the function definitions**. The submission to AICrowd will look for the pre-defined function names:
  - `fit_model`
  - `save_model`
  - `load_model`
  - `predict_expected_claim`
  - `predict_premium`

    Anything else you write outside of these functions will not be part of the final submission (including constants and utility functions), so make sure everything is defined within them, except for:
4. **Define your preprocessing**. In addition to the functions above, anything in the cell labelled [_"Define your data preprocessing"_](#data-preprocessing) will also be imported into your final submission.

# Your pricing model üïµÔ∏è

In this notebook, you can play with the data, and define and train your pricing model. You can then directly submit it to the AICrowd, with some magic code at the end.

### Baseline logistic regression üí™
You can also play with a baseline logistic regression model [implemented here](https://colab.research.google.com/drive/1iDgDgWUw9QzOkbTYjeyY3i3DGuCoghs3?usp=sharing).

# Setup the notebook üõ†

In [1]:
!bash <(curl -sL https://gitlab.aicrowd.com/jyotish/pricing-game-notebook-scripts/raw/master/python/setup.sh)
from aicrowd_helpers import *

‚öôÔ∏è Installing AIcrowd utilities...
  Running command git clone -q https://gitlab.aicrowd.com/yoogottamk/aicrowd-cli /tmp/pip-req-build-p_u6dmi0
‚úÖ Installed AIcrowd utilities

# Configure static variables üìé
<a name="static-var"></a>

In order to submit using this notebook, you must visit this URL https://aicrowd.com/participants/me and copy your API key. 

Then you must set the value of `AICROWD_API_KEY` wuth the value.

In [2]:
import sklearn

class Config:
  TRAINING_DATA_PATH = 'training.csv'
  MODEL_OUTPUT_PATH = 'model.pkl'
  AICROWD_API_KEY = '108a93b8b66b6039d030914a696c9c0c'  # You can get the key from https://aicrowd.com/participants/me
  ADDITIONAL_PACKAGES = [
    'numpy',  # you can define versions as well, numpy==0.19.2
    'pandas',
    'scikit-learn==' + sklearn.__version__,
    # NOTE THAT ANY TENSORFLOW VERSION HAS TO BE LOWER THAN 2.4. So 2.3XXX would work. 
  ]

# Download dataset files üíæ

In [3]:
# Make sure to offically join the challenge and accept the challenge rules! Otherwise you will not be able to download the data
%download_aicrowd_dataset

üíæ Downloading dataset...
Verifying API Key...
API Key valid
Saved API Key successfully!
‚úÖ Downloaded dataset

# Packages üóÉ

<a name="packages"></a>

Import here all the packages you need to define your model. **You will need to include all of these packages in `Config.ADDITIONAL_PACKAGES` for your code to run properly once submitted.**

In [4]:
%%track_imports

import numpy as np
import pandas as pd
import pickle

In [5]:
import importlib
import global_imports
importlib.reload(global_imports)
from global_imports import *  # do not change this

# Loading the data üì≤

In [6]:
df = pd.read_csv(Config.TRAINING_DATA_PATH)
X_train = df.drop(columns=['claim_amount'])
y_train = df['claim_amount']

## How does the data look like? üîç

In [7]:
X_train.sample(n=4)

       id_policy  year  ...  population town_surface_area
11682   PL049463   1.0  ...       380.0             455.5
108606  PL031918   2.0  ...      2550.0             326.4
180859  PL000755   4.0  ...       310.0             429.7
139782  PL093681   3.0  ...       490.0              52.4

[4 rows x 25 columns]

In [8]:
y_train.sample(n=4)

182262    62.41
222875     0.00
216367     0.00
43467      0.00
Name: claim_amount, dtype: float64

In [9]:
X_train.isna().sum()

id_policy                      0
year                           0
pol_no_claims_discount         0
pol_coverage                   0
pol_duration                   0
pol_sit_duration               0
pol_pay_freq                   0
pol_payd                       0
pol_usage                      0
drv_sex1                       0
drv_age1                       0
drv_age_lic1                   0
drv_drv2                       0
drv_sex2                       0
drv_age2                  152896
drv_age_lic2              152896
vh_make_model                  0
vh_age                         4
vh_fuel                        0
vh_type                        0
vh_speed                    2552
vh_value                    2552
vh_weight                   2552
population                     0
town_surface_area              0
dtype: int64

# Training the model üöÄ

You must first define your first function: `fit_model`. This function takes training data as arguments, and outputs a "model" object -- that you define as you wish. For instance, this could be an array of parameter values.

## Define your data preprocessing

<a name="data-preprocessing"></a>

You can add any class or function in this cell for preprocessing. Just make sure that you use the functions here in the `fit_model`, `predict_expected_claim` and `predict_premium` functions if necessary. *italicised text*

In [10]:
# For initial model, remove missing values
# drop_columns = ['drv_age2', 'drv_age_lic2']
X_train.drop(['drv_age2', 'drv_age_lic2'], axis=1, inplace=True)

In [11]:
# Remove rows with missing values
X_train.dropna(inplace=True)

In [12]:
# Check for missing values of y
y_train.isna().sum()

0

In [13]:
# Look at values for each variable
X_train.head()

  id_policy  year  ...  population town_surface_area
0  PL000000   1.0  ...      1270.0              33.1
1  PL042495   1.0  ...      1290.0              51.3
2  PL042496   1.0  ...      1020.0             262.8
3  PL042497   1.0  ...       180.0             219.7
4  PL042498   1.0  ...        30.0              70.3

[5 rows x 23 columns]

In [14]:
X_train.describe()

                year  pol_no_claims_discount  ...     population  town_surface_area
count  225660.000000           225660.000000  ...  225660.000000      225660.000000
mean        2.500000                0.044644  ...     572.278516         204.961051
std         1.118036                0.118682  ...     673.847871         163.437109
min         1.000000                0.000000  ...       0.000000          18.500000
25%         1.750000                0.000000  ...     180.000000          82.000000
50%         2.500000                0.000000  ...     320.000000         154.700000
75%         3.250000                0.000000  ...     610.000000         288.100000
max         4.000000                1.000000  ...    2550.000000         745.400000

[8 rows x 12 columns]

In [15]:
# Scale numerical columns
from sklearn.preprocessing import StandardScaler
num_columns = ['year', 'pol_no_claims_discount', 'pol_sit_duration', 'drv_age1', 'drv_age_lic1', 'vh_age', 'vh_speed', 'vh_value', 'vh_weight', 'population', 'town_surface_area']

scaler = StandardScaler()
# scaler.fit_transform(X_train[num_columns])
X_train[num_columns] = scaler.fit_transform(X_train[num_columns])

In [18]:
# Separate categorical vars
from sklearn.preprocessing import OneHotEncoder
cat_columns = ['pol_coverage', 'pol_pay_freq', 'pol_payd', 'pol_usage', 'drv_sex1', 'drv_drv2', 'drv_sex2', 'vh_make_model', 'vh_fuel', 'vh_type']

ohe = OneHotEncoder(sparse=False)
ohe.fit(X_train[cat_columns])
# ohe.fit_transform(X_train[cat_columns])
# X_train[cat_columns] = ohe.fit_transform(X_train[cat_columns])

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=False)

In [19]:
ohe.get_feature_names(cat_columns)
X_train[ohe.get_feature_names(cat_columns)] = ohe.transform(X_train[cat_columns])

In [ ]:
X_train

In [11]:
T%%aicrowd_include
# This magical command saves all code in this cell to a utils module.

# include your preprocessing functions and classes here.

In [ ]:
import importlib
import utils
importlib.reload(utils)
from utils import *  # do not change this

## Define the training logic

In [ ]:
def fit_model(X_raw, y_raw):
    """Model training function: given training data (X_raw, y_raw), train this pricing model.

    Parameters
    ----------
    X_raw : Pandas dataframe, with the columns described in the data dictionary.
        Each row is a different contract. This data has not been processed.
    y_raw : a Numpy array, with the value of the claims, in the same order as contracts in X_raw.
        A one dimensional array, with values either 0 (most entries) or >0.

    Returns
    -------
    self: this instance of the fitted model. This can be anything, as long as it is compatible
        with your prediction methods.

    """

    # TODO: train your model here.
    # Don't forget any preprocessing of the raw data here

    return np.mean(y_raw)  # By default, training a model that returns a mean value (a mean model).

## Train your model

In [ ]:
trained_model = fit_model(X_train, y_train)

**Important note**: your training code should be able to run in under 10 minutes (since this notebook is re-run entirely on the server side). 

If you run into an issue here we recommend using the *zip file submission* (see the [challenge page](https://www.aicrowd.com/challenges/insurance-pricing-game/#how-to%20submit)). In short, you can simply do this by copy-pasting your `fit_model`, `predict_expected_claim` and `predict_premium` functions to the `model.py` file.

Note that if you want to perform extensive cross-validation/hyper-parameter selection, it is better to do them offline, in a separate notebook.

## Saving your model

You can save your model to a file here, so you don't need to retrain it every time.

In [ ]:
def save_model(model_path):  # some models such xgboost models or keras models don't pickle very reliably. Please use the package provided saving functions instead. 
  with open(model_path, 'wb') as target_file:
      pickle.dump(trained_model, target_file)

In [ ]:
save_model(Config.MODEL_OUTPUT_PATH)

If you need to load it from file, you can use this code:

In [ ]:
def load_model(model_path): # some models such xgboost models or keras models don't pickle very reliably. Please use the package provided saving functions instead. 
  with open(model_path, 'rb') as target:
      return pickle.load(target)

In [ ]:
trained_model = load_model(Config.MODEL_OUTPUT_PATH)

# Predicting the claims üíµ

The second function, `predict_expected_claim`, takes your trained model and a dataframe of contracts, and outputs a prediction for the (expected) claim incurred by each contract. This expected claim can be seen as the probability of an accident multiplied by the cost of that accident.

This is the function used to compute the _RMSE_ leaderboard, where the model best able to predict claims wins.

In [ ]:
def predict_expected_claim(model, X_raw):
    """Model prediction function: predicts the expected claim based on the pricing model.

    This functions estimates the expected claim made by a contract (typically, as the product
    of the probability of having a claim multiplied by the expected cost of a claim if it occurs),
    for each contract in the dataset X_raw.

    This is the function used in the RMSE leaderboard, and hence the output should be as close
    as possible to the expected cost of a contract.

    Parameters
    ----------
    model: a Python object that describes your model. This can be anything, as long
        as it is consistent with what `fit` outpurs.
    X_raw : Pandas dataframe, with the columns described in the data dictionary.
        Each row is a different contract. This data has not been processed.

    Returns
    -------
    avg_claims: a one-dimensional Numpy array of the same length as X_raw, with one
        expected claim per contract (in same order). These expected claims must be POSITIVE (>0).
    """

    # TODO: estimate the expected claim of every contract.
    # Don't forget any preprocessing of the raw data here
    
    return np.full( (len(X_raw.index),), model )  # Estimate that each contract will cost 114 (this is the naive mean model). You should change this!

To test your function, run it on your training data:

In [ ]:
predict_expected_claim(trained_model, X_train)

# Pricing contracts üí∞üí∞

The third and final function, `predict_premium`, takes your trained model and a dataframe of contracts, and outputs a _price_ for each of these contracts. **You are free to set this prices however you want!** These prices will then be used in competition with other models: contracts will choose the model offering the lowest price, and this model will have to pay the cost if an accident occurs.

This is the function used to compute the _profit_ leaderboard: your model will participate in many markets of size 10, populated by other participants' model, and we compute the average profit of your model over all the markets it participated in.

In [ ]:
def predict_premium(model, X_raw):
    """Model prediction function: predicts premiums based on the pricing model.

    This function outputs the prices that will be offered to the contracts in X_raw.
    premium will typically depend on the average claim predicted in 
    predict_average_claim, and will add some pricing strategy on top.

    This is the function used in the average profit leaderboard. Prices output here will
    be used in competition with other models, so feel free to use a pricing strategy.

    Parameters
    ----------
    model: a Python object that describes your model. This can be anything, as long
        as it is consistent with what `fit` outpurs.
    X_raw : Pandas dataframe, with the columns described in the data dictionary.
        Each row is a different contract. This data has not been processed.

    Returns
    -------
    prices: a one-dimensional Numpy array of the same length as X_raw, with one
        price per contract (in same order). These prices must be POSITIVE (>0).
    """

    # TODO: return a price for everyone.
    # Don't forget any preprocessing of the raw data here

    return predict_expected_claim(model, X_raw) * 2  # Default: bosst prices by a factor of 2

To test your function, run it on your training data.

In [ ]:
prices = predict_premium(trained_model, X_train)

#### Profit on training data

In order for your model to be considered in the profit competition, it needs to make nonnegative profit over its training set. You can check that your model satisfies this condition below:

In [ ]:
print('Income:', prices.sum())
print('Losses:', y_train.sum())

if prices.sum() < y_train.sum():
    print('Your model loses money on the training data! It does not satisfy market rule 1: Non-negative training profit.')
    print('This model will be disqualified from the weekly profit leaderboard, but can be submitted for educational purposes to the RMSE leaderboard.')
else:
    print('Your model passes the non-negative training profit test!')

# Ready? Submit to AIcrowd üöÄ

If you are satisfied with your code, run the code below to send your code to the AICrowd servers for evaluation! This requires the variable `trained_model` to be defined by your previous code.

**Make sure you have included all packages needed to run your code in the [_"Packages"_](#packages) section.**

**NOTE**: If you submit the baseline RMSE model without any change whatsoever, your model will not be entered into the market.

In [ ]:
%aicrowd_submit